!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Experience Bureau
    meta(name='description', content='Experience Bureau specialises in website and application design and development with a focus on interactivity, usability and the user experience.')
    meta(name='viewport', content='width=device-width')
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='stylesheet', href='/styles/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/styles/ie.css')
    // build:js(app) /scripts/vendor/modernizr.js
    script(src='/components/modernizr/modernizr.js')
    // endbuild
  body
    header#banner
      h1.ir Experience Bureau
        a.banner-image(href='/')
          img(src='/images/you.svg', alt='"You" shape from Experience Bureau Logo')
      nav
        ul.mainMenu
          li
            a(href='/') Home
          li
            a(href='/about') About
          //-li
            //-a(href='/work') Work
          li
            a(href='/contact') Contact
    .container
      //if lt IE 7
        p.chromeframe
          | You are using an
          strong outdated
          | browser. Please
          a(href='http://browsehappy.com/') upgrade your browser
          | or
          a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
          | to improve your experience.
        
      section#home.section-page(data-content_file='home')
        //- HOME
        block section_home
      section#about.section-page(data-content_file='about')
        //- ABOUT
        block section_about
      //- section#work.section-page(data-content_file='work')
        //- WORK
        //- block section_work
      section#contact.section-page(data-content_file='contact')
        //- CONTACT
        block section_contact  
    footer#colophon
      p
      | This site was built using 
      a(href='http://yeoman.io/') Yeoman
      | , 
      a(href='gruntjs.com') Grunt
      | , 
      a(href='backbonejs.org') Backbone
      | , 
      a(href='jade-lang.com') Jade 
      | and 
      a(href='compass-style.org') Compass
      | . Overkill? Possibly... But it was fun. 
      a(href='https://github.com/peterchappell/ebpub') Take a look on github 
      | if you're so inclined.
      
    div#page_loading 
      div.box
        div.loading-animation
        p Loading...

    // build:js(app) /scripts/main.js
    script(src='/components/jquery/jquery.js')
    script(src='/scripts/libs/jquery.tooltipster.js')
    script(src='/scripts/libs/jquery.checkValidity.js')
    script(src='/scripts/libs/jquery.event.submit.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    script(src='/scripts/EB/utility.js')
    script(src='/scripts/EB/application.js')
    script(src='/scripts/EB/View.js')
    script(src='/scripts/EB/Router.js')
    // endbuild

    script
        EB.application.load();

    script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40786763-1', 'experiencebureau.com');
          ga('send', 'pageview');

