html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

a {
    color: $eb-dkBlue;
    text-decoration: none;
}

a:hover {
    color: scale-lightness($eb-dkBlue, 25%);
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 rhythm(1);
}

dl {
    margin: 0;
}
dt, dd {
    display: inline;
    margin: 0;
}