body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 rhythm(1);
}

dl {
    margin: 0;
}
dt, dd {
    display: inline;
    margin: 0;
}