.container {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 0 20px;
}

.fw-image {
    width: 70%;
}

.container-cols {
    clear: both;
    overflow: hidden;
    padding-bottom: 2px;
}

.section-page {
    padding-bottom: 100px;
    padding-top: 100px;
}

.section-header {
    h1 {
        font-weight: normal;
        margin-top: 0;
        @include adjust-font-size-to( $h2-font-size );
        line-height: 1;
    }
}

.strong-link {
    border-bottom: 1px solid $eb-dkBlue;
    display: inline-block;
    font-weight: bold;
}

.footnote-link {
    padding: 0 0.25em;
}
.footnotes {
    background-color: transparent;
    display: inline-block;
    padding: 0 0.5em 0 0.25em;
    @include transition-property(background-color);
    @include transition-duration(2s);
}
.footnotes.highlight {
    background-color: $ltYellow;
}

.tip-text-inner {
    position: relative;
    h1 {
        font-weight: bold;
        margin-top: 0.5em;
        @include adjust-font-size-to( $h4-font-size );
    }
    p {
        margin-bottom: 0.75em;
    }
    blockquote {
        margin: 0 0 0.75em 0;
    }
}

#home {
    .logo {
        margin-bottom: 1em;
    }
    dl {
        margin: 0 0 1em;
    }
}

#about {
    .content-main {
        margin-bottom: 3em;
    }
    .fw-image {
        max-width: 350px;
        width: 90%;
    }
    .logo-about {
        display: block;
    }
    .logo-you-character {
        margin-top: 30px;
    }
    .logo-about-whole {
        margin-top: 40px;
        img {
            margin-top: -40px;
        }
    }
}

#contact {
    label {
        display: block;
        font-size: 0.9em;
    }
    input, textarea {
        border: 1px solid #ccc;
        margin-bottom: 0.5em;
        padding: 8px 2%;
    }
    input {
        max-width: 400px;
        width: 95%;
    }
    textarea {
        height: 5em;
        max-width: 95%;
        min-width: 95%;
        width: 95%;
    }
    .formActions {
        padding-top: 0.5em;
    }
    button {
        border: 1px solid $eb-dkBlue;
        color: $eb-white;
        padding: 8px 16px;
        @include background-image(linear-gradient(rgba($eb-dkBlue, 0.8), rgba($eb-dkBlue, 0.9), rgba($eb-dkBlue, 0.97)));
        @include single-box-shadow(rgba($eb-black, 0.3), 0, 1px, 4px);
        @include border-radius(2px);
    }
    button:hover {
        @include background-image(linear-gradient(rgba($eb-dkBlue, 0.7), rgba($eb-dkBlue, 0.8), rgba($eb-dkBlue, 0.87)));
    }
    ul.contact-details {
        line-height: 18px;
        list-style-type: none;
        padding: 0 0 0 10px;
        li {
            margin: 0 0 1em;
        }
        .icon {
            float: left;
            height: 18px;
            width: 18px;
            margin: 0 0.5em 0 0;
            vertical-align: middle;
        }
    }
}
#contact_success_message {
    .inner {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 2em;
    }
}
.no-cssgradients {
    #contact {
        button {
            background-color: scale-lightness($eb-dkBlue, 5%);
        }
        button:hover {
            background-color: scale-lightness($eb-dkBlue, 15%);
        }        
    }
}

#colophon {
    color: #666;
    margin-top: 3em;
    text-align: center;
    @include adjust-font-size-to( 12px );
}

#page_loading {
    background-color: $eb-white;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    .box {
        left: 0;
        position: fixed;
        right: 0;
        text-align: center;
        top: 150px;
    }
    .loading-animation {
        border: 8px solid #FFF;
        border-bottom: 8px solid #CCC;
        border-right: 8px solid #CCC;
        display: block;
        height: 50px;
        margin: auto;
        width: 50px;
        @include border-radius(50%);
        -webkit-animation: rotate 1s infinite linear;
        -moz-animation: rotate 1s infinite linear;
        -ms-animation: rotate 1s infinite linear;
        animation: rotate 1s infinite linear;
    }
    p {
        color: #666;
        margin-top: 2em;
    }
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-ms-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
