div.section-inner
    header.section-header
        h1 About 
            strong.noWrap Experience Bureau
    .container-cols
        .content-main
            p
                strong Experience Bureau
                |  is owned and operated by 
                a.tip-link.strong-link(href='#moreAboutPete', data-linkintip='true') Peter Chappell
                |  who has over 10 years
                | experience working as a designer and developer of great user experiences on the web. Experience Bureau works collaboratively with freelancers,
                | small businesses and clients.
            ul.contentList
                li User interface (UI) design and development.
                li
                    | Front-end development (HTML, CSS, JavaScript) using the best and latest practices.
                li Consultancy, wireframes, prototypes, designs, documentation.
                li
                    | Iterative and creative interface design solutions. From rough sketches to wireframes to testable prototypes to beautiful designs to the finished product.
                li Helping transform business objectives into a design plan.
                li
                    | Designing and organising information systems so that they make sense and work well.
                li Design and development of websites and web applications.
            p
                | In short... If you're planning or developing an interactive website or application, 
                a.strong-link.section-link(href="/contact") Experience Bureau can help
                | .
        figure.logo-explained
            img.fw-image(src='/images/experience_bureau-logo-shape.svg', alt='Experience Bureau logo cyrillic characters')
            a.tip-link.logo-about.logo-about-whole(href='#moreAboutTheLogo') 
                img.fw-image(src='/images/text-about_the_logo.svg', alt='What is this logo about?')
            a.tip-link.logo-about.logo-you-character(href='#moreAboutYou')
                img.fw-image(src='/images/text-you_character.svg', alt='Why is the "you" character special?')
    #moreAboutPete.tip-text
        aside.tip-text-inner
            header
                h1 More about Peter Chappell
            p
                | To find out more about Peter, download a copy of his CV or take look at his LinkedIn Profile.
    #moreAboutTheLogo.tip-text
        aside.tip-text-inner
            header
                h1 "БЮРО" is "Bureau" in Cyrillic
            p
                | The design of the Cyrillic alphabet is pretty neat in that, most of the time, the letters are pronounced only one way (unlike Latin script where the same letter can make different sounds depending on it context).
            p
                | Cyrillic script also makes for beautiful shapes and interesting typography. This balance between functional design and aesthetic is a good illustration of what Experience Bureau is about.
    #moreAboutYou.tip-text
        aside.tip-text-inner
            header
                h1 "Ю" = "You"
            p Well sort of...
            p
                | The "Ю" character in "БЮРО" makes the sound "you". 
            p
                | From the context of a website or application, "you" is normally the user. The <strong>user is the most important person</strong> to consider when making desicions about interface design and development.