div.section-inner
    header.section-header
        h1 Contact 
            strong.noWrap Experience Bureau
    .container-cols
        .content-main
            p
                | If you’re interested in working with Experience Bureau, 
                b please get in touch 
                | so that we can get things started.
            ul
                li +61 466438677
                li experiencebureau
                li
                    a(href='mailto:info@experiencebureau.com') info@experiencebureau.com
        form.contact-form
            .formRow
                label(for='contact_name') Name
                input#contact_name(type='text', name='contact_name')
            .formRow
                label(for='contact_email') Email address
                input#contact_email(type='email', name='contact_email')
            .formRow
                label(for='contact_message') Message
                textarea#contact_message(name='contact_message')
            .formRow.formActions
                button(type='submit') Send message